<footer class="site-footer">
    <div class="footer-container">
        <p class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}. Todos los derechos reservados.</p>
        <div class="social-links">
            <ul>
                <li><a href="https://github.com/12lockedin" target="_blank" rel="noopener">GitHub</a></li>
                <li><a href="https://x.com/felipeagustin0" target="_blank" rel="noopener">X (Twitter)</a></li>
                <li><a href="https://www.linkedin.com/in/felipeagcg/" target="_blank" rel="noopener">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>